<div class="center jumbotron">
  <h1>Welcome to Talk On</h1>

  <h2>
    This is the home page for Talk On service.
  </h2>

  <% if user_signed_in? %>
    <%= link_to "Find Talk concerts!", talk_concerts_path, class: "btn btn-lg btn-primary" %>
  <% else %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>